{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/bootstrap-theme.css" %}"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <title>{% block title %}Электроный каталог{% endblock %}</title>
</head>
<body class="container">
<h1 class="text-center">Электронный каталог</h1>
    <table class="col-sm-12 table table-bordered">
        <tr>
            <td></td>
            <td colspan="4">
                <form action="/search/" method="get">
                    <input type="text" name="q" class="col-xs-12" placeholder="Строка поиска:">
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="5">Адресная строка:{% block slug %} / главная /{% endblock %}</td>
        </tr>
        <tr>
            <td rowspan="2" class="col-sm-2">
                <table class="table table-bordered">
                    <tr>
                        <td>Категории:</td>
                    </tr>
                {% block category %}
                    {% for category in category_list %}
                        <tr>
                            <td class="level-{{ category.level }}">
                                <a href="/{{ category.slug }}/">{{ category.object }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock %}
                </table>
            </td>
            <td class="col-sm-10">
                {% block product %}
                <table class="table table-bordered product">
                    {% for product in product_list.object_list %}
                    <tr>
                        {% for j in product %}
                        <td>
                        {% if j != '' %}
                            <p>{{ j }}</p>
                            {% if j.picture %}
                                <img src="{{MEDIA_URL}}{{ j.picture }}"/>
                            {% else %}
                                <img src="{{MEDIA_URL}}{{ j.category.picture }}"/>
                            {% endif %}
                        {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                {% endblock %}
            </td>
        </tr>
        <tr>
            <td class="col-sm-10 pagination" colspan="4">
                <span class="step-links">
                    {% if product_list.has_previous %}
                         <a href="?page={{ product_list.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        {% if product_list.number != 1 and product_list.previous_page_number != 1 %}
                            <a href="?page=1">1</a> ...
                        {% endif %}
                          {{ product_list.number }}
                        {% if product_list.number != product_list.paginator.num_pages and product_list.next_page_number != product_list.paginator.num_pages %}
                             ... <a href="?page={{ product_list.paginator.num_pages }}">{{ product_list.paginator.num_pages }}</a>
                        {% endif %}
                    </span>

                    {% if product_list.has_next %}
                        <a href="?page={{ product_list.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </td>
        </tr>
    </table>
{% block script %}{% endblock %}
</body>
</html>