<table class="table table-bordered product">
    {% if search_text %}
        Вы искали: {{ search_text }}
    {% endif %}
    {% for product in product_list.object_list %}
        <tr>
            {% for j in product %}
                <td>
                    {% if j != '' %}
                        <p>{{ j }}</p>
                            <img src="{{MEDIA_URL}}{% firstof j.picture j.category.picture %}"/>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<div class="col-sm-12 text-center">
    <span class="step-links">
        {% if product_list.has_previous %}
            <a href="?page={{ product_list.previous_page_number }}" class="unclickable">previous</a>
        {% endif %}

        <span class="current">
            {% if product_list.number != 1 and product_list.previous_page_number != 1 %}
                <a href="?page=1" class="unclickable">1</a> ...
            {% endif %}
            {{ product_list.number }}
            {% if product_list.number != product_list.paginator.num_pages and product_list.next_page_number != product_list.paginator.num_pages %}
                ... <a href="?page={{ product_list.paginator.num_pages }}" class="unclickable">{{ product_list.paginator.num_pages }}</a>
            {% endif %}
        </span>

        {% if product_list.has_next %}
            <a href="?page={{ product_list.next_page_number }}" class="unclickable">next</a>
        {% endif %}
    </span>
</div>