{% extends "index.html" %}
{% block slug %}
    / <a href="/">главная</a> / {{ search_text }} /
{% endblock %}
{% block product %}
    <table class="table table-bordered product">
        {% for product in product_list.object_list %}
            <tr>
                {% for j in product %}
                    <td>
                        {% if j != '' %}
                            <p>{{ j }}</p>
                            {% if j.picture %}
                                <img src="{{MEDIA_URL}}{{ j.picture }}"/>
                            {% else %}
                                <img src="{{MEDIA_URL}}{{ j.category.picture }}"/>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}